<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis XML 매퍼 파일. 여기서 쿼리문을 작성합니다. -->
<mapper namespace="vue.example.demo.Mapper.Boardmapper"> <!-- 네임스페이스 설정 -->

    <select id="getBoards" parameterType="String" resultType="hashmap" >
        SELECT *
        FROM BOARD_TABLE
        WHERE BOARD_NAME LIKE '%' ||  #{searchWord} || '%'
    </select>

    <select id="getBoardCount" parameterType="String" resultType="hashmap" >
        SELECT p.BOARD_ID, b.BOARD_NAME, COUNT(p.BOARD_ID) AS TOTAL
        FROM POST_TABLE p
        JOIN BOARD_TABLE b ON p.BOARD_ID = b.BOARD_ID
        GROUP BY p.BOARD_ID, b.BOARD_NAME
        ORDER BY TOTAL DESC
    </select>

    <select id="getBoardId" parameterType="String" resultType="hashmap" >
        SELECT BOARD_ID, BOARD_NAME
        FROM BOARD_TABLE
        WHERE BOARD_ID = #{boardId}
    </select>
</mapper>