<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 여기서 쿼리문 작성 -->
<mapper namespace="vue.example.demo.Mapper.Postmapper"> <!-- namespace 설정 -->
    <!-- 전체 글 보기 -->
    <select id="getPostList" parameterType="vue.example.demo.DTO.PostDTO" resultType="hashmap" >
        SELECT p.POST_NO, p.BOARD_ID, p.POST_TITLE, p.POST_AUTHOR, p.POST_TIME, COUNT(c.COMM_NO) AS TOTAL, POST_EDITS, POST_EDIT_TIME
        FROM POST_TABLE p
        LEFT JOIN COMMENT_TABLE c ON p.POST_NO = c.POST_NO
        WHERE p.BOARD_ID = #{boardId}
        GROUP BY p.POST_NO, p.BOARD_ID, p.POST_TITLE, p.POST_AUTHOR, p.POST_TIME, POST_EDITS, POST_EDIT_TIME
        ORDER BY p.POST_NO DESC
    </select>

    <!-- 글 상세 보기(글 내용보기) -->
    <select id="getPostContent" parameterType="vue.example.demo.DTO.PostDTO" resultType="hashmap" >
        SELECT p.POST_TITLE, DBMS_LOB.SUBSTR(p.POST_CONTENT, DBMS_LOB.GETLENGTH(p.POST_CONTENT)) AS POST_CONTENT, p.POST_AUTHOR, p.POST_TIME, POST_EDITS, POST_EDIT_TIME
        FROM POST_TABLE p
        WHERE p.BOARD_ID = #{boardId} AND p.POST_NO = #{postNo}
        GROUP BY p.POST_TITLE, DBMS_LOB.SUBSTR(p.POST_CONTENT, DBMS_LOB.GETLENGTH(p.POST_CONTENT)), p.POST_AUTHOR, p.POST_TIME, POST_EDITS, POST_EDIT_TIME
    </select>

    <insert id="insertPost" parameterType="hashmap">
        <!-- USER_TABLE에 데이터 삽입 -->
        INSERT INTO POST_TABLE 
        VALUES (POST_SEQ.NEXTVAL,#{boardId},#{postTitle},#{postContent},#{userId},sysdate,'N',null)

        <selectKey keyProperty="POST_SEQ" resultType="int" order="AFTER">
        SELECT POST_SEQ.CURRVAL FROM DUAL
    </selectKey>
        <!-- #{변수} 형태로 바인딩 변수를 사용하여 데이터를 삽입 -->
    </insert>

    <update id="updatePost" parameterType="hashmap">
        UPDATE POST_TABLE 
        SET POST_TITLE = #{postTitle},  
        POST_CONTENT = #{postContent},
        POST_EDITS = 'Y',
        POST_EDIT_TIME = sysdate
        WHERE POST_NO = #{postNo}
    </update>

    <delete id="deletePost" parameterType="int">
        DELETE FROM POST_TABLE WHERE POST_NO = #{postNo}
    </delete>
    
    
    <select id="checkTag" resultType="int" parameterType="String">
        select count(tag_name) as total
        from tag_table
        where tag_name = #{tagName}
    </select>

    <insert id="insertTag" parameterType="String">
        <!-- USER_TABLE에 데이터 삽입 -->
        INSERT INTO TAG_TABLE
        VALUES (TAG_SEQ.NEXTVAL, #{tagName})
        <!-- #{변수} 형태로 바인딩 변수를 사용하여 데이터를 삽입 -->
    </insert>

    <insert id="insertMatch" parameterType="hashmap">
        <!-- USER_TABLE에 데이터 삽입 -->
        INSERT INTO post_tag_match_table
        VALUES (#{postNo}, #{tagName})
        <!-- #{변수} 형태로 바인딩 변수를 사용하여 데이터를 삽입 -->
    </insert>

    
</mapper>