<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis XML 매퍼 파일. 여기서 쿼리문을 작성합니다. -->
<mapper namespace="vue.example.demo.Mapper.Usermapper"> <!-- 네임스페이스 설정 -->
  <insert id="insertUser" parameterType="map">
        <!-- USER_TABLE에 데이터 삽입 -->
        INSERT INTO USER_TABLE (USER_NO, USER_ID, USER_PW, USER_NAME, USER_RANK, USER_ACTIVATION, USER_COUNT) 
        VALUES (emp_seq.NEXTVAL, #{USER_ID}, #{USER_PW}, #{USER_NAME}, #{USER_RANK}, 'Y', 0) 
        <!-- #{변수} 형태로 바인딩 변수를 사용하여 데이터를 삽입 -->
    </insert>

    <select id="getUser" parameterType="String" resultType="hashmap" >
    SELECT * FROM USER_TABLE WHERE USER_ID = #{userId}
    </select>

    <select id="signInUser" parameterType="vue.example.demo.DTO.UserDTO" resultType="hashmap">
        SELECT USER_NO, USER_ID, USER_NAME, USER_RANK, USER_ACTIVATION, USER_COUNT
        FROM USER_TABLE
        WHERE USER_ID = #{userId} AND USER_PW = #{userPw} AND USER_ACTIVATION = 'Y'
    </select>

    <update id="updateUser" parameterType="vue.example.demo.DTO.UserDTO">
        UPDATE USER_TABLE
        SET USER_NAME = #{userNm} , USER_RANK = #{userRk}
        WHERE USER_ID = #{userId}
    </update>

    <select id="listUser" parameterType="vue.example.demo.DTO.UserDTO" resultType="hashmap">
        SELECT USER_NO, USER_ID, USER_NAME, USER_RANK, USER_ACTIVATION, USER_COUNT
        FROM USER_TABLE
        ORDER BY USER_NO ASC
    </select>

    <update id="resetFailCount" parameterType="String">
    UPDATE USER_TABLE
        SET USER_COUNT = 0
        WHERE USER_ID = #{userId}
    </update>
    <update id="notuseUser" parameterType="String">
    UPDATE USER_TABLE
        SET USER_ACTIVATION = 'N'
        WHERE USER_ID = #{userId}
    </update>

    <update id="plusCounts" parameterType="HashMap">
    UPDATE USER_TABLE
        SET USER_COUNT = #{plusCount}
        WHERE USER_ID = #{userId}
    </update>

        <!-- id가 중복인지 아닌지를 확인하는 쿼리문 -->
    <select id="selectId" resultType="int" parameterType="String">
        <!-- USER_TABLE에서 입력된 USER_ID와 동일한 id의 개수를 셈 -->
        SELECT COUNT(*)
        FROM USER_TABLE
        WHERE USER_ID = #{UserId}
    </select>

    <select id="selectName" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM USER_TABLE
        WHERE USER_NAME = #{UserName}
    </select>

    <!-- 내가 쓴 글 목록 -->
    <select id="getMyPosts" parameterType="String" resultType="hashmap" >
        SELECT b.BOARD_ID, b.BOARD_NAME, p.POST_NO, p.POST_TITLE, p.POST_TIME
        FROM BOARD_TABLE b
        JOIN POST_TABLE p
        ON b.BOARD_ID = p.BOARD_ID
        WHERE p.POST_AUTHOR = #{userId}
        ORDER BY p.POST_TIME DESC
    </select>

</mapper>