<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- MyBatis XML 매퍼 파일 -->
<mapper namespace="vue.example.demo.Mapper.Usermapper"> <!-- 네임스페이스 설정 -->
    <insert id="insertUser">
        INSERT INTO DOJE (USER_ID, USER_PW, USER_NAME, USER_RANK) <!-- 사용자 정보 삽입 -->
        VALUES (#{USER_ID}, #{USER_PW}, #{USER_NAME}, #{USER_RANK}) <!-- 바인딩 변수 사용 -->
    </insert>
    <select id="signInUser" parameterType="com.example.dto.UserDTO" resultType="hashmap">
        SELECT USER_ID, USER_NAME, USER_RANK
        FROM DOJE
        WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>
    <update id="updateName" parameterType="com.example.dto.UserDTO">
        UPDATE DOJE
        SET USER_NAME = #{userNm}
        WHERE USER_ID = #{userId}
    </update>
    <update id="updateRank" parameterType="com.example.dto.UserDTO">
        UPDATE DOJE
        SET USER_RANK = #{userRk}
        WHERE USER_ID = #{userId}
    </update>
    <delete id="deleteUser" parameterType="String">
        DELETE FROM DOJE
        WHERE USER_ID = #{userId}
    </delete>
</mapper>